@import "../../../../node_modules/bootstrap/scss/bootstrap-utilities";

.AVOption--scroll-anchor {
  margin-top: -1.5rem;
}

.AVOption {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.AVOption--disabled {
  opacity: 0.8;
}

.AVOption--highlight {
  animation: grow-in-highlight 1s;
  animation-iteration-count: 3;
}

.AVOption--option-header {
  min-height: 2.375rem;
}

.AVOption-image {
  object-fit: cover;
  max-height: 90px;
  max-width: 70px;
}

.AVOption--title {
  font-size: 1.25rem;
  line-height: 1.25rem;
  text-transform: none;
  font-weight: 500;
  inline-size: 100%;
  overflow-wrap: break-word;
}

.AVOption--description {
  font-weight: 300;
}

.AVOption--description > * {
  margin: 0;
}

.AVOption--links-container {
  flex-wrap: wrap;
}

.AVOption--expander-icon {
  transform: rotate(0deg);
  transition: all 500ms ease-in-out;
}

.AVOption--expander-icon-opened {
  [dir="ltr"] & {
    transform: rotate(90deg);
  }

  [dir="rtl"] & {
    transform: rotate(-90deg);
  }
}

.AVOption--multivote-aside {
  border-top: 1px solid var(--bs-border-color);
  padding: 1.25rem;

  @include media-breakpoint-up(md) {
    border-top: none;

    [dir="ltr"] & {
      border-left: 1px solid var(--bs-border-color);
    }

    [dir="rtl"] & {
      border-right: 1px solid var(--bs-border-color);
    }
  }
}

.AVOption--multivote-footer {
  padding: 1.25rem;
}

.AVOption--singlevote {
  align-items: flex-start;
  padding: 1.25rem;
  height: fit-content;
}

.AVOption--children {
  [dir="ltr"] & {
    padding-left: 2.5rem;
  }

  [dir="rtl"] & {
    padding-right: 2.5rem;
  }
}

.AVOption--children .AVOption {
  box-shadow: unset;
}

.AVOption-collapse-btn:hover {
  background-color: var(--bs-gray-100);
}

@keyframes grow-in-highlight {
  from {
    outline: var(--bs-gray-600) solid 0;
  }
  to {
    outline: transparent solid 1rem;
  }
}
