.AVResourceFields--container-summary {
  margin-bottom: 0.5rem;
}

.AVResourceFields--container-generic {
  margin-bottom: 2rem;
}

.AVResourceFields--rich-text > * {
  margin-bottom: 0;
}

.AVResourceFields--regular-content {
  max-width: 100%;
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-wrap: nowrap;
}
