@import "../../../../node_modules/bootstrap/scss/bootstrap-utilities";

.AVResourceSection--container-summary {
  margin-bottom: 0.5rem;
}

.AVResourceSection--container-generic {
  margin-bottom: 2rem;
}

.AVResourceSection--rich-text > * {
  margin-bottom: 0;
}

.AVResourceSection--regular-content {
  max-width: 100%;
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-wrap: nowrap;
}

.AVResourceSection--image {
  width: 100%;

  @include media-breakpoint-up(sm) {
    width: 350px;
  }
}

.AVResourceSection--header-text {
  color: var(--av-theme-secondary-text);
}
