.AVDhondtSummary--highlighted {
  border-bottom-color: var(--bs-body-color-20);
}

td,
th {
  background-color: transparent;
}

.AVDhondtSummary--text-bold {
  font-weight: 700;
}

.AVDhondtSummary--text-semibold {
  font-weight: 600;
}

[data-bs-theme="dark"] .AVDhondtSummary--highlighted {
  // color: var(--bs-body-color-alt) !important;
  border-color: var(--bs-body-color-alt-30) !important;
}
