.AVSummaryOption {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  min-height: 4rem;
}

.AVSummaryOption--img {
  max-width: 70px;
  max-height: 90px;
}

.AVSummaryOption--title {
  font-size: 1.25rem;
  line-height: 1.25rem;
  font-weight: 500;
}

.AVSummaryOption--body-inline {
  inline-size: calc(100% - 70px);
}

.AVSummaryOption--title-inline {
  inline-size: 100%;
  overflow-wrap: break-word;
}

.AVSummaryOption--ancestry {
  color: var(--bs-gray-700);
}
