.AVSummaryOption {
  position: relative;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  min-height: 4rem;
}

.AVSummaryOption--img {
  max-width: 70px;
  max-height: 90px;
}

@media (min-width: 576px) {
  .AVSummaryOption--img {
    max-width: 70px;
    max-height: 90px;
  }
}

.AVSummaryOption--body {
  height: 100%;
  flex-grow: 1;
}

.AVSummaryOption--title {
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
}

.AVSummaryOption--footer {
  flex-wrap: wrap;
  justify-content: end;
}

.AVSummaryOption--group {
  flex-wrap: nowrap;
}

.AVSummaryOption--ancestry {
  color: var(--gray-600);
}
