.AVPileSummary--summary-header {
  align-self: stretch;
  background-color: var(--bs-border-color);
}

.AVPileSummary--summary-header-text {
  font-weight: 500;
}

.AVPileSummary--assign {
  &:has(header:hover) {
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.075);
  }
}

.AVPileSummary--assign-card {
  width: 100%;
  word-wrap: break-word;
}

.AVPileSummary--grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-gap: 1rem;
}
