.AVOptionCheckbox--exclusive {
  width: fit-content;
  font-size: 0.875em;
}

.AVOptionCheckbox--exclusive {
  [dir="ltr"] & {
    border-radius: 0 0 0 5px;
  }

  [dir="rtl"] & {
    border-radius: 0 0 5px 0;
  }
}

.AVOptionCheckbox--exclusive-container {
  [dir="ltr"] & {
    margin-right: -1.25rem;
  }

  [dir="rtl"] & {
    margin-left: -1.25rem;
  }
}

.AVOptionCheckbox--exclusive-container-list {
  margin-top: -1.25rem;
  margin-bottom: 0.5rem;
}

.AVOptionCheckbox--exclusive-container-gallery {
  margin-top: -4.25rem;
  margin-bottom: calc(3rem - 1px);
}

.AVOptionCheckbox {
  background-color: white;
  border-width: 0.125rem;
  cursor: pointer;
  display: grid;
  border-color: var(--bs-gray-600);
  border-style: solid;
  border-width: 0.125rem;
  place-content: center;
  width: 1.875rem;
  height: 1.875rem;

  &.AVOptionCheckbox--disabled {
    &:not(.AVOptionCheckbox--checked) {
      opacity: 0;
    }
  }

  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0.5);
    outline: 0;
  }

  &.AVOptionCheckbox--checked {
    background-color: var(--bs-ballot);
    border-color: var(--bs-ballot);

    &.AVOptionCheckbox--error {
      background-color: var(--av-theme-danger-background);
      border-width: 0.125rem;
      border-style: solid;
      box-shadow:
        0 1px 2px rgba(0, 0, 0, 0.05),
        inset 0px -15px 10px -10px rgba(0, 0, 0, 0.05),
        inset 15px 10px -10px rgba(255, 255, 255, 0.1);

      &:focus {
        box-shadow: 0 0 0 0.2rem rgba(234, 78, 44, 0.5);
      }
    }
  }

  &:disabled,
  &.AVOptionCheckbox--checked[disabled] {
    background-color: var(--bs-gray-600);
    border-color: var(--bs-gray-700);
    pointer-events: none;
    cursor: default;
  }
}
