.AVRankedSummary--highlighted {
  border-bottom-color: var(--bs-border-color);
}

td,
th {
  background-color: transparent;
}

.AVRankedSummary--text-bold {
  font-weight: 700;
}

.AVRankedSummary--text-semibold {
  font-weight: 600;
}

[data-bs-theme="dark"] .AVRankedSummary--highlighted {
  color: var(--bs-body-color-alt) !important;
  border-color: var(--bs-body-color-alt-30) !important;
}
