tr.bg-warning-faded,
tr.bg-success-faded {
  border-bottom-color: var(--bs-border-color);
}

td {
  background-color: transparent;
}

.AVRankedSummary--text-bold {
  font-weight: 700;
}

.AVRankedSummary--text-semibold {
  font-weight: 600;
}

.AVRankedSummary--text-dark {
  color: var(--bs-gray-200);
}

.AVRankedSummary--text-light {
  color: var(--bs-gray-800);
}
