td,
th {
  background-color: transparent;
}

.AVInstantRunoffSummary--text-bold {
  font-weight: 700;
}

[data-bs-theme="dark"] .AVInstantRunoffSummary--highlighted {
  color: var(--bs-body-color-alt) !important;
}
