td {
  background-color: transparent;
}

.AVInstantRunoffSummary--text-bold {
  font-weight: 700;
}

.AVInstantRunoffSummary--text-dark {
  color: var(--bs-gray-200);
}

.AVInstantRunoffSummary--text-light {
  color: var(--bs-gray-800);
}
