.AVBlankOption {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.AVBlankOption--disabled {
  opacity: 0.8;
}

.AVBlankOption--accent {
  [dir="ltr"] & {
    border-left-width: 8px;
  }

  [dir="rtl"] & {
    border-right-width: 8px;
  }
}

.AVBlankOption--title {
  font-size: 1.25rem;
  line-height: 1.25rem;
  text-transform: none;
  font-weight: 500;
}

.AVBlankOption--parent-container {
  height: 3rem;
}
