@import "../../../../node_modules/bootstrap/scss/bootstrap-utilities";

.AVSubmissionHelper--quadratic {
  float: none;
  display: flex;
  gap: 0.25rem;
  width: 100%;
  justify-content: start;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  line-height: 1.5rem;

  @include media-breakpoint-up(lg) {
    width: fit-content;

    [dir="ltr"] & {
      float: right;
    }

    [dir="rtl"] & {
      float: left;
    }
  }
}
