@import "bootstrap/scss/bootstrap-utilities";

.AVSubmissionHelper--weight {
  float: none;
  display: flex;
  width: 100%;
  justify-content: start;
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;

  @include media-breakpoint-up(lg) {
    font-size: 1rem;
    line-height: 1.5rem;
    width: fit-content;

    [dir="ltr"] & {
      float: right;
    }

    [dir="rtl"] & {
      float: left;
    }
  }
}
